#wowslider-container1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
}*/