/* About.css */

.about-container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  margin-top: 20vh;
}

.about-content {
  flex: 1; /* Takes up equal space as the image column */
  min-width: 300px; /* Ensures a minimum width */
  padding-left: 40px;
}

.about-image {
  flex: 1; /* Takes up equal space as the text column */
  min-width: 300px; /* Ensures a minimum width */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content overflows are hidden */
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  border-radius: 10px; /* Optional styling */
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-md);
}

p {
  font-size: var(--font-size-base);
  line-height: 1.6;
  margin-bottom: var(--spacing-md);
}

.custom-button {
  display: inline-block;
  margin-top: 20px;
  min-width: 200px;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: var(--color-secondary);
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 600px) {
  .about-image {
    padding: 0 20px;
  }
  .about-container {
    margin-top: 20px;
  }
  .about-content {
    padding: 0 30px;
  }
  .custom-button {
    margin-bottom: 60px;
  }
}
