/* More.css */

.more-background-container {
  background-image: url('../assets/img/project_background.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.more-container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;

  text-align: center;
  width: 100%;  /* Takes full width of its parent */
  display: flex;  /* Enables flexbox */
  flex-direction: column;  /* Stacks children vertically */
  align-items: center;  /* Centers children horizontally */
  justify-content: center;  /* Centers children vertically */
}

.lottie {
  width: 50%;  /* Full width to respond to the container size */
  max-width: 480px;  /* Adjust this value based on your preferred size */
  margin: 180px auto 0px auto;  /* Additional centering for the animation */
}

.more-container h1 {
  margin-top: 80px;
  margin-bottom: 0px;
}

.more-container a {
  color: var(--color-primary);  /* Example: a nice shade of blue */
  text-decoration: none;  /* Optional: removes underline from links */
}

.more-container a:hover {
  text-decoration: underline;  /* Restores underline on hover for better user interaction */
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 600px) {
  .more-container h1 {
    font-size: var(--font-size-xl);
    margin-top: 30px;
  }

  .more-container h2 {
    font-size: var(--font-size-lg);
    margin-top: 10px;
  }
}