/* More.css */

.publication-container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  margin-top: 3vh;
}

.publication-content {
  flex: 1; 
  min-width: 300px; 
  padding-left: 40px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.mobile-image {
  display: none;
}

.desktop-image {
  display: block;
  width: 100%;
}

.hover-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary); 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 10;
}

.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); 
  transition: background-color 0.3s ease; 
  z-index: 5;
}

.image-container:hover .hover-text {
  display: block;
}

.image-container:hover::after {
  background-color: rgba(255, 255, 255, 0.5); 
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-md);
}

p {
  font-size: var(--font-size-base);
  line-height: 1.6;
  margin-bottom: var(--spacing-md);
}

.custom-button {
  display: inline-block;
  margin-top: 20px;
  min-width: 200px;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: var(--color-secondary);
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 600px) {
  .mobile-image {
    display: block;
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .publication-container {
    margin-top: 20px;
  }
  .publication-content {
    padding: 0 30px;
  }
  .custom-button {
    margin-bottom: 60px;
  }
}