/* CustomSwiper.css */

/* Main container styles */
.custom-swiper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* Slider styles */
.slider {
  display: flex;
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  height: 640px;
  background-size: cover;
  background-position: center;
  opacity: 1.0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 10px; /* Rounded corners for slides */
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide.prev {
  transform: translateX(-100%);
  opacity: 1.0;
}

/* Thumbnails container styles */
.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing between slider and thumbnails */
}

/* Individual thumbnail styles */
.thumbnail {
  cursor: pointer;
  margin: 0 5px; /* Adjust spacing between thumbnails */
  transition: transform 0.2s ease-in-out;
  width: 100px; /* Set fixed width for thumbnails */
  height: 60px; /* Set fixed height for thumbnails */
  border-radius: 5px; /* Rounded corners for thumbnails */
  border: 2px solid transparent; /* Add border on hover */
}

.thumbnail:hover {
  border: 2px solid var(--color-secondary); /* Add border on hover */
}

.thumbnail img {
  width: 100%; /* Ensure image fills the thumbnail container */
  height: 100%; /* Ensure image fills the thumbnail container */
  object-fit: cover; /* Maintain aspect ratio and cover entire container */
  border-radius: 5px; /* Rounded corners for thumbnails */
}

.thumbnail.active {
  transform: scale(1.1); /* Increase scale on active thumbnail */
}

/* Navigation button styles */
.prev,
.next {
  position: absolute;
  top: calc(50% - 30px);
  transform: translateY(-50%);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.1s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
