/* ScrollIndicator.css */

.scrollIndicator {
  position: fixed;
  top: 0;
  left: 50%;
  width: 0.75px;
  height: 4px; /* Adjust the height as needed */
  background-color: #000;
  z-index: 9999;
}

.scrollIndicatorLine {
  height: 100%;
  width: 0.75px;
  background-color: black; /* Adjust the color of the scroll indicator line */
}
