.header {
  background-color: white;
  color: white;
  padding: 0px 0;
  position: fixed; /* Keeps the header fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the header stays above other content */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 0.5px solid #eeeeee;
  height: 60px; /* Adjust as needed */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 20px;
  margin-right: 10px;
}

.logo-text {
  color: black;
  font-size: 1em;
  font-weight: lighter;
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-links li a.active {
  font-weight: bold;
  color: var(--color-primary);
}

.nav-links a:hover {
  background-color: #eeeeee;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.hamburger-image {
  height: 25px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container {
    height: 50px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .nav-open .nav-links {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    li {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    a {
      width: 100%;
      display: block;
    }
  }
}
