.header {
  background-color: white;
  color: white;
  padding: 0px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  border-bottom: 0.5px solid #eeeeee;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 20px; /* Adjust the height as needed */
  margin-right: 10px; /* Space between the image and the text */
}

.logo-text {
  color: black;
  font-size: 1em;
  font-weight: lighter;
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #eeeeee;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.hamburger-image {
  height: 25px;
  vertical-align: middle;
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 600px) {
  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      right: 0;
    }
  }

  .header-container {
    height: 50px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }

  .nav-open .nav-links {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
}
