/* PhotoClockDetail.css */

.project-container {
  max-width: var(--container-width); /* Define this variable in your root if not already defined */
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh; /* Full viewport height */
  overflow: auto; /* Enables scrolling within the sidebar */
  padding: 20px;
  border-right: 0.5px solid var(--color-gray); /* Assumes you have a color variable named --color-gray */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: rgba(var(--color-secondary-rgb), 0.1);
}

.content {
  margin-left: 250px;
  padding: 10px 40px;
  overflow: auto; /* Scrollable content area */
}

.content section {
  margin-bottom: 200px;
}

.active {
  font-weight: bold;
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.photoclock-container {
  width: 100%;
  height: 100%;
}

.photoclock-container .project-content-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

.photoclock-container .overview-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.photoclock-container .context-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.photoclock-container .research-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}

.photoclock-container .plan-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.photoclock-container .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.photoclock-container .focus-group-image,
.photoclock-container .field-study-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.photoclock-container .miro-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  margin-top: 50px;
}

.photoclock-container .miro-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.photoclock-container .zoom-div {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin: 200px auto;
  transition: transform 0.3s ease-in-out;
}

.photoclock-container .zoomed {
  transform: scale(1.5);
}

.photoclock-container h6 {
  margin-bottom: 6px;
}

.photoclock-container h2 {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.photoclock-container h3 {
  margin-top: 60px;
}
